  <link rel="stylesheet" href="../styles/details.css" type="text/css">

  <div class="container">
    <form>
      <h1>Tutor Registration</h1>

      <div class="form-group">
        <select id = "college">
          <option>Value 1</option>
          <option>Value 2</option>
        </select>
        <label for="select" class="control-label">Choose your college</label><i class="bar"></i>
      </div>

      <div class="form-group" id="degree">
        <select>
          <option>Value 1</option>
          <option>Value 2</option>
        </select>
        <label for="select" class="control-label">Choose your degree</label><i class="bar"></i>
      </div>

      <div class="form-group" id="year">
        <select>
          <option>Value 1</option>
          <option>Value 2</option>
        </select>
        <label for="select" class="control-label">Choose your year of graduation</label><i class="bar"></i>
      </div>


      <div class="form-group">
        <input type="text" required="required" id ="year"/>
        <label for="input" class="control-label">Enter your phone number</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="email" required="required" id = "email"/>
        <label for="email" class="control-label">Enter your Email Address</label><i class="bar"></i>
      </div>

      <p>Choose Exam groups you wish to teach</p>

      <div id="cb">

      </div>

      <div class="form-radio">
        <div class="radio">
          <label>
            <input type="radio" name="radio" checked="checked"/><i class="helper"></i>I'm the label from a radio button
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="radio"/><i class="helper"></i>I'm the label from a radio button
          </label>
        </div>
      </div>


      <div class="checkbox">
        <label>
          <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
        </label>
      </div>

    </form>


    <div class="button-container">
      <button type="button" class="button"><span>Submit</span></button>
    </div>
  </div>