  <link rel="stylesheet" href="../styles/fake.css" type="text/css">
  
  <body>
    <div class = "container"
    <form>
      <h1>Tutor Registration</h1>

      <div class="form-group">
        <select id = "college">
          <option disabled></option>
        </select>
        <label for="select" class="control-label">Choose your college</label><i class="bar"></i>
      </div>

      <div class="form-group" >
        <select id = "degree">
          <option disabled></option>
        </select>
        <label for="select" class="control-label">Choose your degree</label><i class="bar"></i>
      </div>

      <div class="form-group" >
        <select id="year">
          <option disabled></option>
        </select>
        <label for="select" class="control-label">Choose your year of graduation</label><i class="bar"></i>
      </div>


      <div class="form-group">
        <input type="text" required="required" id ="phone"/>
        <label for="input" class="control-label">Enter your phone number</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="email" required="required" id = "email"/>
        <label for="email" class="control-label">Enter your Email Address</label><i class="bar"></i>
      </div>

      <p>Choose Exam groups you wish to teach</p>

      <div id="examGroups" class="material_block">
      </div></br>

      <p>Choose languages known to you</p>

      <div id="languages" class="material_block">
      </div></br>



      Select a file: <input type="file" name="img"></br></br>
      Select another file: <input type="file" name="img">

<!--       <div class="checkbox">
        <label>
          <input type="checkbox"/><i class="helper"></i>I'm the label from a checkbox
        </label>
      </div> -->

    </form>


    <div class="button-container">
      <button type="button" class="button" id="submit"><span>Submit</span></button>
    </div>


  </div>
</body>