  <link rel="stylesheet" href="../styles/details.css" type="text/css">
  <body ng-app="angularPortalApp">
    <div class="confirm">
      <i class='close'>×</i>
      <h1><i class="fa fa-check-circle fa-3x"></i>Boom! Profile Created</h1>
    </div>
    <form action="#">
      
      <div class="float-label">
        <input type="text" name="number" id="number" maxlength="10" required/>
        <label for="number">Enter your mobile number</label>
      </div>

      <div class="float-label">
        <input type="email" name="email" id="email"/>
        <label for="email">Enter your email id</label>
      </div>

      <div class="float-label">
        <i class="fa fa-caret-down"></i>
        <select id="college" name="college">
          <option value=""></option>
          <option value="c1">college 1</option>
        </select>    
        <label for="college">Select your college</label>
      </div>

      <div class="float-label">
        <i class="fa fa-caret-down"></i>
        <select name="degree" id="degree">
          <option value=""></option>
          <option value="male">Male</option>
          <option value="Female">Female</option>
        </select>
        <label for="gender">Select your Degree</label>
      </div>

      <div class="float-label">
        <i class="fa fa-caret-down"></i>
        <select name="year" id="year">
          <option value=""></option>
          <option value="male">Male</option>
          <option value="Female">Female</option>
        </select>
        <label for="year">Chose your year of graduation</label>
      </div>


      <input id='one' type='checkbox' />
      <label for='one'>
        <span></span>
        Off with your head
        <ins><i>Off with your head</i></ins>
      </label>

      <input id='two' type='checkbox' />
      <label for='two'>
        <span></span>
        Dance ’til you’re dead
        <ins><i>Dance ’til you’re dead</i></ins>
      </label>

      <input id='three' type='checkbox' />
      <label for='three'>
        <span></span>
        Heads will roll
        <ins><i>Heads will roll</i></ins>
      </label>

      <input id='four' type='checkbox' />
      <label for='four'>
        <span></span>
        On the floor
        <ins><i>On the floor</i></ins>
      </label>

      <button class="btn" type="submit">Submit</button>
      <button class="btn" id="clear" type="reset" value="Reset">Reset</button>
    </form>  
  </body>